<div class="col-lg-6">
    <p><b>Test Before:</b></p>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Test</th>
                <th></th>
                <th>DWT</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="25%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1250" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1262" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-12"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="50%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="2500" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="2539" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-30"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="75%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1250" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1262" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-12"></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 3rd row 2nd col info-->
<div class="col-lg-6">
    <p><b>Test After:</b></p>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Test</th>
                <th></th>
                <th>DWT</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="25%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1250" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1262" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-12"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="50%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="2500" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="2539" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-10"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="75%" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1250" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="1262" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="-12"></td>
            </tr>
        </tbody>
    </table>
</div>