<div class="col-lg-6">
    <p><b>Test Before:</b></p>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Test</th>
                <th>DWT</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="0" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="16" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="48" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="80" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="112" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="144" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="160" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="144" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="112" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="80" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="48" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="16" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="0" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 3rd row 2nd col info-->
<div class="col-lg-6">
    <p><b>Test After:</b></p>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Test</th>
                <th>DWT</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="0" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="16" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="48" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="80" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="112" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="144" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="160" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="144" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="112" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="80" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="48" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="16" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control pull-right" placeholder="0" readonly></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
                <td><input type="text" class="form-control pull-right" placeholder="Placeholder"></td>
            </tr>
        </tbody>
    </table>
</div>